<%= form_with(model: suit, local: true) do |form| %>
  <% if suit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(suit.errors.count, "error") %> prohibited this suit from being saved:</h2>

      <ul>
      <% suit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao, id: :suit_descricao %>
  </div>
  <%if Suit.where(author_id: 1).count>0 %>
    <div>
      <%= form.label :repetir_advogado %>
      <%= form.check_box :checked %>
    </div>

    <div>
      <%= select_tag('suit[lawyer_id]',options_for_select(Lawyer.joins(:suits).where(suits: {author_id: current_author.id}).pluck(:nome, :id).uniq),{ include_blank: 'Selecione o Advogado' }) %>
    </div>
  <% end %>
  <br></br>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
