<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @suit.descricao %>
</p>

<p>
  <strong>Author:</strong>
  <%= @suit.author.nome %>
</p>

<p>
  <strong>Lawyer:</strong>
  <%= @suit.lawyer.nome %>
</p>

<%= link_to 'Edit', edit_suit_path(@suit) %> |
<%= link_to 'Back', suits_path %>
