<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @client.nome %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.estado %>
</p>

<%= link_to 'Edit', edit_client_path(id: @client.id) %> |
<%= link_to 'Back', clients_path %>
