<!DOCTYPE html>
<html>
  <head>
    <title>Ajudajus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= author_signed_in? ? current_author.nome : "" %>
    <%= lawyer_signed_in? ? current_lawyer.nome : "" %>
    <% if author_signed_in? %>
        <%= link_to 'Logout', destroy_author_session_path, method: :delete %>
    <%end%>
    <% if lawyer_signed_in? %>
        <%= link_to 'Logout', destroy_lawyer_session_path, method: :delete %>
    <%end%>  

    <%= yield %>
  </body>
</html>
